{% extends "base.html" %}

{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}

<section class="contact mb-4">
    <b-row>
        <b-col>
            <h2 class="section-title">Contact Information</h2>
            <b-list-group>
                <b-list-group-item>
                    <div class="tooltip-container">
                        <span class="tooltip-trigger">
                            <i class="fas fa-phone-alt text-dark-grey"></i> 
                            Phone: <b-link href="mailto:vyomdeepansh@gmail.com">(+91) 99581 21100</b-link>
                        </span>
                        <div class="tooltip-content">
                            <iframe src="preview_website.jpg" frameborder="1"></iframe>
                        </div>
                    </div>
                </b-list-group-item>                            
                </b-list-group-item>
                <b-list-group-item>
                    <div class="tooltip-container">
                        <span class="tooltip-trigger">
                            <i class="fas fa-envelope text-dark-grey"></i> 
                            Email: <b-link href="mailto:vyomdeepansh@gmail.com">vyomdeepansh@gmail.com</b-link>
                        </span>
                        <div class="tooltip-content">
                            <iframe src="preview_website.jpg" frameborder="1"></iframe>
                        </div>
                    </div>
                </b-list-group-item>
                <b-list-group-item>
                    <div class="tooltip-container">
                        <span class="tooltip-trigger">
                            <i class="fas fa-map-marker-alt text-dark-grey"></i>
                            Location: <b-link href="https://maps.app.goo.gl/ZCVZqD1HWXYiKv3XA">Gurgaon, HR, India</b-link>
                        </span>
                        <div class="tooltip-content">
                            <iframe src="preview_website.jpg" frameborder="1"></iframe>
                        </div>
                    </div>
                </b-list-group-item>
                <b-list-group-item>
                    <div class="tooltip-container">
                        <span class="tooltip-trigger">
                            <i class="fas fa-globe text-dark-grey"></i> 
                            Website: <a href="https://vyomd.online">vyomd.online</a>
                        </span>
                        <div class="tooltip-content">
                            <iframe src="preview_website.jpg" frameborder="1"></iframe>
                        </div>
                    </div>
                </b-list-group-item>
                <b-list-group-item>
                    <div class="tooltip-container">
                        <span class="tooltip-trigger">
                            <i class="fab fa-github text-dark-grey"></i> 
                            GitHub: <b-link href="https://github.com/thebluesurf3r">github.vyom.cloud</b-link>
                        </span>
                        <div class="tooltip-content">
                            <iframe src="preview_website.jpg" frameborder="1"></iframe>
                        </div>
                    </div>
                </b-list-group-item>
                <b-list-group-item>
                    <div class="tooltip-container">
                        <span class="tooltip-trigger">
                            <i class="fab fa-linkedin text-dark-grey"></i> 
                            LinkedIn: <b-link href="https://www.linkedin.com/in/vyomdeepansh/">linkedin.vyom.cloud</b-link>
                        </span>
                        <div class="tooltip-content">
                            <iframe src="preview_website.jpg" frameborder="1"></iframe>
                        </div>
                    </div>
                </b-list-group-item>
                <b-list-group-item>
                </b-list-group-item>
            </b-list-group>
        </b-col>
    </b-row>
</section>

{% endblock %}
