[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
environ = "*"
pandas = "*"
numpy = "*"
plotly = "*"
seaborn = "*"
matplotlib = "*"
djangorestframework = "*"
django-oauth-toolkit = "*"
django-debug-toolbar = "*"
django-filter = "*"
psycopg2-binary = "*"
psycopg2 = "*"
cryptography = "*"
beautifulsoup4 = "*"
sqlalchemy = "*"
django-environ = "*"
django-rest-auth = "*"
django-allauth = "*"
dj-rest-auth = "*"
update = "*"
flask = "*"
flask-paginate = "*"
flask-wtf = "*"
django-cors-headers = "*"
redis = "*"
celery = "*"
jupyter = "*"
lab = "*"
django-celery-results = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
