{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Visualizer - Your go-to tool for data visualization.">
    <meta name="author" content="thebluesurf3r">
    <meta name="keywords" content="data, visualization, Django, data analytics, research, pandas, plotly, matplotlib">

    <!-- Social Media Meta Tags -->
    <meta property="og:title" content="Visualizer">
    <meta property="og:description" content="Visualizer - Your go-to tool for data visualization.">
    <meta property="og:image" content="{% static 'visualizer/icons/og-image.png' %}">
    <meta property="og:url" content="https://www.yourdomain.com">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Title -->
    <title>{% block title %}Directory Scan Visualization{% endblock %}</title>

    <!-- Favicon and Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'visualizer/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'visualizer/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'visualizer/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

    <!-- Bootstrap CSS (Stick to Bootstrap 5 if you're using it) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- Project Level CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- App Level CSS -->
    {% block extra_css %}
    <link href="{% static 'dir_scan_vis/css/style.css' %}" rel="stylesheet">
    {% endblock %}
</head>

<body class="fade-in">
    <!-- Loader -->
    <div id="loader">
        <iframe src="{% static 'svg/waiting_animation.html' %}" frameborder="0"></iframe>
    </div>

    <!-- Navbar -->
    {% include 'navbar.html' %}

    <!-- Main content -->
    <main role="main" class="container">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Bootstrap 5 Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vue.js and BootstrapVue JS (if using Vue for interactivity) -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.js"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/animations.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>