{% extends "dir_scan_vis/base.html" %}

{% load plotly_dash %}

{% load static %}

{% block title %}dir_scan_vis{% endblock %}

{% block content %}

    <div id="dash-app" class="container-fluid" style="height: 100vh; padding: 0;">
        <!-- Dash/Plotly Graph Section as iframe -->
     <b-container class="my-4">
        <section class="graph-section mb-4">
            <b-list-group class="animation-container">
            <b-row>
                <b-col>
                    <!-- Embed the Dash app as an iframe -->
                        {%plotly_app_bootstrap name="ProjectAnalysisApp" aspect="16by9"%}
                </b-col>
            </b-row>
            </b-list-group>
        </section>
    </b-container>
</div>
{% endblock %}