/*=======================================================================================================================*/
/*======== Font-Face Definitions */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
}

@font-face {
    font-family: 'Behavior';
    src: url('../fonts/Behavior.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/*=======================================================================================================================*/
/*======== CSS Variables */
:root {
    --phi: 1.618034;
    --pi: 3.14159265;
    --e: 2.718282;
    --sqrt-two: 1.414214;
    --tau: 6.283185;

    --font-main: 'Open Sans', sans-serif;
    --font-heading: 'Behavior', sans-serif;
    --font-heading-size: 12px;
    --margin-size: 9px;
    --font-content-size: 9px;

    --font-heading-large: calc(var(--font-heading-size) * var(--phi));
    --font-heading-huge: calc(var(--font-heading-size) * 2.618034);
    --font-heading-xl: calc(var(--font-heading-size) * 3.236068);
    --font-heading-md: calc(var(--font-heading-size) * var(--phi) * var(--phi));
    --font-heading-small: calc(var(--font-heading-size) * 0.618034);

    --margin-large: calc(var(--margin-size) * var(--phi));
    --margin-medium: var(--margin-size);
    --margin-small: calc(var(--margin-size) / var(--tau));

    --font-size-large: calc(var(--font-content-size) * var(--phi));
    --font-size-medium: var(--font-content-size);
    --font-size-small: calc(var(--font-content-size) * 0.618034);

    --primary-color: #ffffff;
    --background-color: #000000;
    --secondary-background-color: #2b2b2b;
    --fade-color: rgba(0, 0, 0, 0.521);
    --background-container-color: #272727; 
}

/*=======================================================================================================================*/
/*======== Global Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*=======================================================================================================================*/
/*======== Body Styling */
body {
    font-family: var(--font-main);
    color: var(--primary-color);
    background-color: var(--secondary-background-color);
    padding-top: calc(var(--font-heading-size) * var(--phi) * 6);
    padding-bottom: calc(var(--font-heading-small) / var(--phi) / var(--pi));
}

/*=======================================================================================================================*/
/*======== Main Element */
main {
    background-image: url(../images/);
    display: block;/* Fixed from absolute */
}

/*=======================================================================================================================*/
/*======== Heading and Paragraphs */
h5, p {
    font-family: var(--font-main);
    font-size: calc(var(--font-size-small) * 3);
    color: var(--primary-color);
}

/*=======================================================================================================================*/
/*======== Container */
.container {
    display: grid;
    max-width: 99.9%;
    margin: var(--margin-small);
    padding: 0 var(--margin-small);
}

/*=======================================================================================================================*/
/*======== Hero Section */
.hero {
    color: var(--primary-color);
}

.hero .companyname, .username {
    font-family: var(--font-heading);
    font-size: calc(var(--font-heading-large) * 3);
}

/*=======================================================================================================================*/
/*======== About Us Section */
.about-us {
    padding: 20px;
    background-color: #080624;
    border-radius: calc(var(--margin-medium) * 1);
    margin-bottom: var(--margin-medium);
}

.about-us h2.section-title {
    font-size: 2rem;
    color: #ffffff;
}

/*=======================================================================================================================*/
/*======== Services Section */
.services {
    padding: calc(var(--font-size-small) * var(--phi) * (var(--pi) / 3));
    background-color: #000000;
    border-radius: calc(var(--margin-medium) * 3);
}

.services .b-card {
    margin-bottom: 20px;
}

.services .b-card-header {
    background-color: #007bff;
    color: #ffffff;
    border-radius: calc(var(--margin-medium) * 1.5);
}

.services .b-button {
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 1rem;
    color: #ffffff;
}

.services .b-card-body {
    background-color: #ffffff;
    padding: calc(var(--font-size-small) * var(--phi) * (var(--pi) / 1.25));
    border: 1px solid #e0e0e0;
    border-radius: calc(var(--margin-medium) * 3);
}

/*=======================================================================================================================*/
/*======== Section Summaries */
.summary, .skills, .work-experience, .education, .certifications, .projects {
    display: inline-block;
    background-color: rgb(14, 14, 14);
    color: var(--primary-color);
    border-radius: calc(var(--margin-medium) * 1.5);
    padding: calc(var(--font-size-small) * var(--phi) * (var(--pi) / 1.25));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    list-style-type: none;
}

.summary .section-title, .skills .section-title, .work-experience .section-title, .education .section-title, .projects .section-title {
    font-family: var(--font-heading);
    font-size: var(--font-size-medium);
    margin-bottom: var(--margin-small);
    animation: fadeInUp 0.6s ease-out forwards;
    list-style-type: none;

}

/*=======================================================================================================================*/
/*======== App Container */
#app {
    display: block;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

/*=======================================================================================================================*/
/*======== Animated Card */
.animated-card {
    position: static;
    margin: var(--margin-large);
    transition: transform 0.6s ease, box-shadow 0.6s ease;
    background-color: #f5f5f5;
    border: var(--font-heading-small);
    border-radius: calc(var(--margin-medium) * 1.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.animated-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.animated-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/*=======================================================================================================================*/
/*======== Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*=======================================================================================================================*/
/*======== Accordion Styles */
.b-card-header {
    background-color: #007bff;
    color: #ffffff;
    padding: calc(var(--font-size-small) * var(--phi) * (var(--pi) / 3));
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.b-card-header:hover {
    background-color: #0056b3;
}

.b-card-header .b-button {
    text-align: left;
    width: 100%;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
}

.b-card-header .b-button:focus {
    box-shadow: none;
    outline: none;
}

.b-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.b-collapse.show {
    max-height: 500px;/* Adjust as necessary */
    transition: max-height 0.3s ease-in;
}

.b-collapse .b-card-body {
    background-color: #ffffff;
    padding: calc(var(--font-size-small) * var(--phi) * (var(--pi) / 3));
    font-size: 1.1rem;
    color: #000000;
    border: 1px solid #e9ecef;
}

/*=======================================================================================================================*/
/*======== Responsive Design */
@media (max-width: 768px) {
    .companyname {
        font-size: 2.5rem;
    }

    .lead {
        font-size: 1.25rem;
    }

    .section-title {
        font-size: 2rem;
    }
}

/*=======================================================================================================================*/
/*======== Specific Font and Color Adjustments */
#app > b-container > section > b-row > b-col > h2,
#app > b-container > section > b-row > b-col > b-list-group > b-list-group-item,
#app > b-container:nth-child(3) > section > b-row > b-col > b-tabs > b-tab,
#app > b-container > section > b-row > b-col > b-list-group > b-list-group-item > b-list-group-item > b-list-group-item > b-list-group-item > b-list-group-item,
#app > b-container > section > b-row > b-col > b-list-group > b-list-group-item > b-list-group-item {
    color: #eeeeee;
    font-family: var(--font-size-small);
}

h5 {
    font-size: calc(var(--font-content-size) * var(--phi));
}

@media (min-width: 1024px) {
    #app > b-container:nth-child(2) > section > b-row > b-col > h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #app > b-container > section > b-row > b-col > h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}


/*=======================================================================================================================*/
/*======== FONT SIZE AND COLOR */

/*=======================================================================================================================*/
/*======== Section heading */
#app > b-container > section > b-row > b-col > h2 {
    font-size: calc(var(--font-size-small) * var(--phi) * (var(--pi)/2));
    color: #ffffff;
}

#app > b-container > section > b-row > b-col > b-list-group > b-list-group-item {
    font-size: calc(var(--font-size-small) * var(--phi) * (var(--pi)/3));
    color: #ffffff;
}

#app > b-container:nth-child(3) > section > b-row > b-col > b-tabs > b-tab {
    font-size: calc(var(--font-size-small) * var(--phi) * (var(--pi)/3));
    color: #ffffff;
}

/*=======================================================================================================================*/
/*======== "Empowering Businesses with Data-Driven Insights" */

#app > b-container.bg-dark.text-white.text-center.py-5.hero > section > b-row > b-col > p.lead.mt-3 {
    font-family: 'Behavior', sans-serif;
    font-size: calc(var(--font-size-medium) * var(--phi) * (var(--pi)/3));
    color: var(--primary-color)
}

/*=======================================================================================================================*/
/*======== "About Us" */

#app > b-container:nth-child(2) > section > b-row > b-col > h2 {
    font-size: calc(var(--font-size-small) * var(--phi) * (var(--pi)/2));
    color: white;
}

#app > b-container.bg-dark.text-white.text-center.py-5.hero {
    font-size: calc(var(--font-content-size) * var(--phi));
    color: #f8f9fa;/* Adjust text color */
}

#app > b-container.bg-dark.text-white.text-center.py-5.hero {
    width: 100%;
    height: 80%;
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
}

#app > b-container > section > b-row > b-col > b-list-group > b-list-group-item {
    background-color: rgb(14, 11, 56);
}

#app > b-container:nth-child(3) > section > b-row > b-col > b-tabs > b-tab > b-list-group > b-list-group-item {
    background-color: rgb(14, 11, 56);
}

#app > b-container:nth-child(4) > section > b-row > b-col > b-tab > b-list-group > b-list-group-item {
    font-size: calc(var(--font-size-small) * var(--phi) * (var(--pi)/2));
    padding: var(--margin-small);
    background-color: rgb(14, 11, 56);
    display: grid;
    color: rgb(0, 0, 0);
    list-style-type: none;
}

/*----------------------------------------------------------------------*/
/*=======================================================================================================================*/
/*======== Summary (accordion like element configuration)*/

/*=======================================================================================================================*/
/*======== Level1*/
#app > b-container > section > b-row > b-col > b-list-group > b-list-group-item > b-list-group-item > b-list-group-item > b-list-group-item > b-list-group-item {
    font-size: calc(var(--font-size-small) * var(--phi) * (var(--pi)/2));
    padding: calc(var(--font-size-small) * var(--phi) * (var(--pi)/2));
    margin: calc(var(--font-size-small) * var(--phi) * (var(--pi)/2));
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    color: rgb(255, 255, 255);
    list-style-type: none;
    width: 650px;
    height: auto;
}

/*=======================================================================================================================*/
/*======== Level2*/
#app > b-container > section > b-row > b-col > b-list-group > b-list-group-item > b-list-group-item > b-list-group-item > b-list-group-item {
    font-size: calc(var(--font-size-small) * var(--phi) * (var(--pi)/1.5));
    padding: calc(var(--font-size-small) * var(--phi) * (var(--pi)/1.5));
    background-color: rgba(0, 0, 58, 0.5);
    display: inline-block;
    color: rgb(255, 255, 255);
    list-style-type: none;
    width: auto;
    height: auto;
}

/*=======================================================================================================================*/
/*======== Level3*/
#app > b-container > section > b-row > b-col > b-list-group > b-list-group-item > b-list-group-item > b-list-group-item {
    font-size: calc(var(--font-size-small) * var(--phi) * (var(--pi)/1.5));
    padding: calc(var(--font-size-small) * var(--phi) * (var(--pi)/1.5));
    background-color: rgba(0, 0, 0, 0.25);
    display: grid;
    color: rgb(255, 255, 255);
    list-style-type: none;
    width: auto;
    height: auto;
}

/*=======================================================================================================================*/
/*======== Level4*/
#app > b-container > section > b-row > b-col > b-list-group > b-list-group-item > b-list-group-item {
    font-size: calc(var(--font-size-small) * var(--phi) * (var(--pi)/1.5));
    padding: calc(var(--font-size-small) * var(--phi) * (var(--pi)/1.5));
    background-color: rgb(11, 7, 48);
    display: inline-block;
    color: rgb(255, 255, 255);
    list-style-type: none;
    width: auto;
    height: auto;

}

/*=======================================================================================================================*/
/*======== Level5*/
#app > b-container > section > b-row > b-col > b-list-group > b-list-group-item {
    font-size: calc(var(--font-size-small) * var(--phi) * (var(--pi)/1.5));
    padding: calc(var(--font-size-small) * var(--phi) * (var(--pi)/1.5));
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    list-style-type: none;
    width: auto;
    height: auto;
}
/*----------------------------------------------------------------------*/

/*=======================================================================================================================*/
/*======== Width of 'Work Experience' */
#app > b-container > section {
    width: 99.9%;
    height: auto;
    margin: var(--margin-large);
}

/*=======================================================================================================================*/
/*======== Width of 'Skills' */
#app > b-container > section {
    width: 99.9%;
    height: auto;
    margin: var(--margin-large);
}

.company-icon {
    width: 12%;
    height: 12%;
    vertical-align: middle;
    fill: #ffffff; 
}

.summary-icon {
    width: 9%;
    height: 9%;
    vertical-align: middle;
    fill: #ffffff; 
}

.skills-icon {
    width: 12%;
    height: 12%;
    vertical-align: middle;
    fill: #ffffff;
    margin-right: 15%;
}

.mriu-icon {
    width: 15%;
    height: 15%;
    vertical-align: middle;
    fill: #ffffff;
}

.projects-icon {
    width: 15%;
    height: 15%;
    vertical-align: middle;
    fill: #ffffff;
}

.vyom-icon {
    width: 50%;
    height: 50%;
    vertical-align: middle;
    margin-top: 5%;
    margin-left: 37.5%;
    fill: #ffffff;
}

.data-analysis-icon {
    width: 20%;
    height: 20%;
    vertical-align: middle;
    margin-top: 0%;
    margin-left: 9%;
    fill: #ffffff;
}

.data-engineering-icon {
    width: 20%;
    height: 20%;
    vertical-align: middle;
    margin-top: 0%;
    margin-left: 18%;
    fill: #ffffff;
}

.web-development-icon {
    width: 30%;
    height: 30%;
    vertical-align: middle;
    margin-top: 0%;
    margin-left: 12%;
    fill: #ffffff;
}

.language-icon {
    width: 6%;
    height: 6%;
    /*vertical-align: middle; */
    /*margin-top: 5%; */
    /*margin-left: 37.5%;*/
    fill: #ffffff;
}

#skills-graph {
    margin-top: 0;
    display: none;
}


.tooltip-container {
    position: absolute;
    display: inline-block;
    cursor: pointer;
}

.tooltip-trigger {
    cursor: pointer;
}

.tooltip-content {
    width: 600px;
    height: 600px;
    position: absolute;
    top: -1200%;
    left: 150%;
    transform: translateY(-15%) scale(0.75);
    opacity: 0;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.5s ease;
    z-index: 1;
    overflow: hidden;
}

.tooltip-container:hover .tooltip-content {
    visibility: visible;
    transform: translateY(-15%) scale(1);
    opacity: 1;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.5s ease;
}

.tooltip-content iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
    z-index: 2;
}

.tooltip-content::before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}


#chartFrame {
    width: 200%;
    height: 200%; 
    transition: transform 0.8s cubic-bezier(0.25, 0.25, 0.25, 1);/* Smoother transition */
    position: absolute;/* Ensure proper alignment within the container */
}

#projectGraphFrame {
    width: 100%;
    height: 100%; 
}

.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

.fade-in.visible {
    opacity: 1;
}

.progress-animated .progress-bar {
    transition: width 2s ease;
  }

/*=======================================================================================================================*/
/*======== Ensure the list group item background color is as specified */
b-list-group.animation-container .animated-card {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;/* Required for the glitter effect */
    padding: calc(var(--font-size-small) * var(--phi) * (var(--pi) / 0.75));
}

/*=======================================================================================================================*/
/*======== Smooth animation for the text */
@keyframes runningOutline {
    0% {
        text-shadow: 0 0 3px rgba(0, 17, 255, 0.7), 0 0 5px  rgba(0, 17, 255, 0.6);
    }
    50% {
        text-shadow: 0 0 3px  rgba(0, 17, 255, 0.9), 0 0 5px  rgba(0, 17, 255, 0.7);
    }
    100% {
        text-shadow: 0 0 3px  rgba(0, 17, 255, 0.7), 0 0 5px  rgba(0, 17, 255, 0.6);
    }
}

.username {
    position: relative;/* For the glitter effect */
    display: inline-block;
    animation: runningOutline 3s ease-in-out infinite;/* Apply running outline animation */
    color: #fff;/* Ensure text color is visible */
    font-size: 2.5rem;/* Adjust as needed */
}

/*=======================================================================================================================*/
/*======== Animation 'Data Analytics and Research' */
#app > div > b-container > section > b-row > b-col > b-list-group:nth-child(2) > b-list-group-item {
    background-color: rgba(0, 0, 0, 0.514);
}

/*=======================================================================================================================*/
/*======== Ensure the list group item background color is as specified */
#app > div > b-container > section > b-row > b-col > b-list-group:nth-child(2) > b-list-group-item {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;/* Required for the glitter effect */
    padding: calc(var(--font-size-small) * var(--phi) * (var(--pi) / 6));
}

/*=======================================================================================================================*/
/*======== Smooth animation for the text */
@keyframes runningOutline {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.6);
    }
    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.7);
    }
    100% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.6);
    }
}

#app > div > b-container > section > b-row > b-col > b-list-group:nth-child(2) > b-list-group-item {
    position: relative;/* For the glitter effect */
    animation: runningOutline 0.03s ease-in-out infinite;/* Apply running outline animation */
    color: #fff;/* Ensure text color is visible */
}

/*=======================================================================================================================*/
/*======== Skills Section 1 */
#app > b-container:nth-child(3) > section > b-row > b-list-group-item > b-col {
    width: 1250px;
}

/*=======================================================================================================================*/
/*======== Skills Section 2 */

#app > b-container:nth-child(3) > section > b-row > b-list-group-item > b-col > b-list-group:nth-child(3) {
    width: 1250px;
}

/*=======================================================================================================================*/
/*======== Skills Section 3 */
#app > b-container > section > b-row > b-list-group-item > b-col > b-list-group > b-list-group-item > b-list-group-item {
    width: 300px;
}

/*=======================================================================================================================*/
/*======== Skills Sub Section 1 */
#app > b-container > section > b-row > b-list-group-item > b-col > b-list-group > b-list-group-item > b-list-group-item > b-list-group-item {
    width: 100px;
}

/*=======================================================================================================================*/
/*======== Section Headers font size and family */

#app > b-container > section > b-row > b-col > h2 {
    font-size: calc(var(--font-heading-xl) / 1.5);
    font-family: var(--font-heading);
}

#app > b-container:nth-child(2) > section > b-row > b-col > h2 {
    font-size: calc(var(--font-heading-xl) / 1.5);
    font-family: var(--font-heading);
}

#app > b-container:nth-child(5) > section > b-row > h2 {
    font-size: calc(var(--font-heading-xl) / 1.5);
    font-family: var(--font-heading);
}

/*=======================================================================================================================*/
/*======== Education Background */
#app > b-container > section > b-row > b-list-group-item {
    width: auto;
    background-color: #000000;

}

/*=======================================================================================================================*/
/*======== Education Font and Size */
#app > b-container > section > b-row > b-col > li > ul > li > ul > li  {
    list-style-type: none;
}

/*=======================================================================================================================*/
/*======== Loader CSS */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);/* Optional: semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;/* Ensure it's above all other content */

}

/*=======================================================================================================================*/
/*======== Projects header */


/*Graph in the 'Projects' page */
#app > b-container.my-4 > section > b-row > b-col > b-list-group > b-list-group-item > b-list-group-item > b-list-group-item > b-list-group-item > li:nth-child(2) {
    width: 616px;
    height: 616px;
    margin-left: 100px;
    align-items: center;
    align-self: center;
    align-content: center;
}


