{% extends "base.html" %}

{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<body>
    <div id="app" class="container">
        <!-- Username Section -->
        <b-container fluid class="bg-dark text-white text-center py-5 hero">
            <section class="hero mb-5">
                <b-row>
                    <b-col>
                        <h1 class="username display-4">Vyom Deepansh</h1>
                        <p class="lead mt-3">Data Analytics and Research</p>
                    </b-col>
                </b-row>
            </section>
        </b-container>

        <b-col md="6">
            <b-list-group class="animation-container">
                <b-list-group-item class="animated-card">
                    <i class="fas fa-database text-dark-grey"></i> Python Modules: Pandas, Numpy, Matplotlib, Seaborn, Plotly
                </b-list-group-item>
                <b-list-group-item class="animated-card">
                    <i class="fas fa-chart-pie text-dark-grey"></i> Other Tools: Looker Studio, Power BI, Tableau
                </b-list-group-item>
            </b-list-group>
        </b-col>
        
        <!-- Summary Section -->
        <b-container class="my-4">
            <section class="summary mb-4">
                <b-row>
                    <b-col>
                        <h2 class="section-title">Summary</h2>
                        <b-list-group class="animation-container">
                            <b-list-group-item class="animated-card">
                                <i class="fas fa-bullseye text-dark-grey"></i> Results-driven data analyst with 5 years of experience, recognized for rapid career progression and multiple promotions.
                            </b-list-group-item>
                            <b-list-group-item class="animated-card">
                                <i class="fas fa-cogs text-dark-grey"></i> Expert in optimizing processes and developing streamlined solutions that enhance operational efficiency.
                            </b-list-group-item>
                            <b-list-group-item class="animated-card">
                                <i class="fas fa-chart-line text-dark-grey"></i> Skilled in utilizing advanced analytical tools to deliver impactful insights and create innovative frameworks.
                            </b-list-group-item>
                            <b-list-group-item class="animated-card">
                                <i class="fas fa-lightbulb text-dark-grey"></i> Brings a unique blend of creative problem-solving and technical expertise, drawing from diverse experiences in performance arts and design engineering.
                            </b-list-group-item>
                        </b-list-group>
                    </b-col>
                </b-row>
            </section>
        </b-container>
        
        <!-- Skills Section -->
        <b-container class="my-4">
            <section class="skills mb-4">
                <b-row>
                    <b-col>
                        <h2 class="section-title">Skills</h2>
                        <b-tabs>
                            <b-tab title="Data Analysis and Visualization">
                                <b-list-group class="animation-container">
                                    <b-list-group-item class="animated-card">
                                        <i class="fas fa-database text-dark-grey"></i> Python Modules: Pandas, Numpy, Matplotlib, Seaborn, Plotly
                                    </b-list-group-item>
                                    <b-list-group-item class="animated-card">
                                        <i class="fas fa-chart-pie text-dark-grey"></i> Other Tools: Looker Studio, Power BI, Tableau
                                    </b-list-group-item>
                                </b-list-group>
                            </b-tab>
        
                            <b-tab title="Data Management and Querying">
                                <b-list-group class="animation-container">
                                    <b-list-group-item class="animated-card">
                                        <i class="fas fa-database text-dark-grey"></i> Database Systems: MySQL, SQLite3, BigQuery
                                    </b-list-group-item>
                                    <b-list-group-item class="animated-card">
                                        <i class="fas fa-code text-dark-grey"></i> Query Languages: SQL
                                    </b-list-group-item>
                                </b-list-group>
                            </b-tab>
        
                            <b-tab title="Programming and Development">
                                <b-list-group class="animation-container">
                                    <b-list-group-item class="animated-card">
                                        <i class="fas fa-code text-dark-grey"></i> Languages and Frameworks: Python (Django, Streamlit)
                                    </b-list-group-item>
                                    <b-list-group-item class="animated-card">
                                        <i class="fas fa-boxes text-dark-grey"></i> Package Management: Pipenv, Powershell
                                    </b-list-group-item>
                                </b-list-group>
                            </b-tab>
        
                            <b-tab title="Business and Productivity Tools">
                                <b-list-group class="animation-container">
                                    <b-list-group-item class="animated-card">
                                        <i class="fas fa-folder-open text-dark-grey"></i> Google Workspace: Sheets, Documents, Slides, AppScript
                                    </b-list-group-item>
                                    <b-list-group-item class="animated-card">
                                        <i class="fas fa-chart-bar text-dark-grey"></i> Google Marketing Platform: Google Analytics 4, Google Tag Manager
                                    </b-list-group-item>
                                </b-list-group>
                            </b-tab>
                        </b-tabs>
                    </b-col>
                </b-row>
            </section>
        </b-container>
        
        <!-- Education Section -->
        <b-container class="my-4">
            <section class="education mb-4">
                <b-row>
                    <b-col>
                        <h2 class="section-title">Education</h2>
                        <b-list-group class="animation-container">
                            <b-list-group-item class="animated-card">
                                <strong>Manav Rachna International University</strong>
                                <ul>
                                    <li>B.Tech (Aeronautical Engineering)
                                        <ul>
                                            <li>Numerical methods and optimization Techniques</li>
                                            <li>Computational fluid dynamics</li>
                                            <li>Aerodynamics</li>
                                            <li>Rocket propulsion</li>
                                            <li>Continuum mechanics</li>
                                        </ul>
                                    </li>
                                </ul>
                            </b-list-group-item>
                            <b-list-group-item class="animated-card">
                                <strong>Akash Institute of Engineering and Technology</strong>
                                <ul>
                                    <li>Intermediate (12th grade)
                                        <ul>
                                            <li>Mathematics</li>
                                            <li>Physics</li>
                                            <li>Chemistry</li>
                                        </ul>
                                    </li>
                                </ul>
                            </b-list-group-item>
                            <b-list-group-item class="animated-card">
                                <strong>Krishna Public School</strong>
                                <ul>
                                    <li>High School (10th grade)
                                        <ul>
                                            <li>Mathematics</li>
                                            <li>Physics</li>
                                            <li>Chemistry</li>
                                        </ul>
                                    </li>
                                </ul>
                            </b-list-group-item>
                        </b-list-group>
                    </b-col>
                </b-row>
            </section>
        </b-container>
    </div>
</body>

{% endblock content %}
