{% extends "base.html" %}

{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<body>
    <div id="app" class="container">
        
        <!-- Projects Section -->
        <b-container class="my-4">
            <section class="contact mb-4">
                <b-row>
                    <b-col>
                        <h2 class="section-title"></h2>

                        <b-list-group class="animation-container">
                            <b-list-group-item class="animated-card">
                                <b-list-group-item class="animated-card">
                                    <li>Professional Details</li>
                                        <b-list-group-item class="animated-card">
                                        <b-list-group-item class="animated-card">
                                            <li>Name: Vyom Deepansh</li>
                                            <li>Organization: Cognizant Technology Solutions</li>
                                            <li>Role: Data Analyst</li>
                                        </b-list-group-item>

                                        <b-list-group-item class="animated-card">
                                            <li>Phone: (+91) 99581 21100</li>
                                            <li>Email: vyomdeepansh@gmail.com</li>
                                            <li>Website: vyomd.online</li>
                                            <li>GitHub: github.com/thebluesurf3r</li>
                                        </b-list-group-item>
                                        </b-list-group-item>
                    </b-col>
                </b-row>
            </section>
        </b-container>
{% endblock %}
