/*=======================================================================================================================*/
/*======== Font-Face Definitions */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
}

@font-face {
    font-family: 'Behavior';
    src: url('../fonts/Behavior.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/*=======================================================================================================================*/
/*======== CSS Variables */
:root {
    --phi: 1.618034;
    --pi: 3.14159265;
    --e: 2.718282;
    --sqrt-two: 1.414214;
    --tau: 6.283185;

    --font-main: 'Open Sans', sans-serif;
    --font-heading: 'Behavior', sans-serif;
    --font-heading-size: 12px;
    --margin-size: 9px;
    --font-content-size: 9px;

    --font-heading-large: calc(var(--font-heading-size) * var(--phi));
    --font-heading-huge: calc(var(--font-heading-size) * 2.618034);
    --font-heading-xl: calc(var(--font-heading-size) * 3.236068);
    --font-heading-md: calc(var(--font-heading-size) * var(--phi) * var(--phi));
    --font-heading-small: calc(var(--font-heading-size) * 0.618034);

    --margin-large: calc(var(--margin-size) * var(--phi));
    --margin-medium: var(--margin-size);
    --margin-small: calc(var(--margin-size) / var(--tau));

    --font-size-large: calc(var(--font-content-size) * var(--phi));
    --font-size-medium: var(--font-content-size);
    --font-size-small: calc(var(--font-content-size) * 0.618034);

    --primary-color: #ffffff;
    --background-color: #000000;
    --secondary-background-color: #2b2b2b;
    --fade-color: rgba(0, 0, 0, 0.521);
    --background-container-color: #272727; 
    --border-color: #ffffff;
    --header-background-color: #222222;
    --pagination-background-color: #000000;
    --pagination-border-color: #000000;
    --pagination-active-background-color: #333333;
    --pagination-hover-background-color: #555555;
}

/*=======================================================================================================================*/
/*======== Global Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*=======================================================================================================================*/
/*======== Body Styling */
body {
    font-family: var(--font-main);
    color: var(--primary-color);
    background-color: var(--secondary-background-color);
    padding-top: calc(var(--font-heading-size) * var(--phi) * 6);
    padding-bottom: calc(var(--font-heading-small) / var(--phi) / var(--pi));
}

/*=======================================================================================================================*/
/*======== Dash App Iframe Styling */
#dash-app {
    height: 100%; /* Full viewport height */
    width: 100%; /* Full width */
    border: none; /* Remove default border */
}

/* Container for Dash app to ensure full scaling */
.animation-container {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    position: relative; /* Allow positioning of iframe within */
    overflow: visible; /* Prevent overflow */
}

.animation-container iframe {
    width: 100%;  /* 100% width of the container */
    height: 100%; /* 100% height of the container */
    border: none; /* Remove default iframe border */
    display: block; /* Ensures that iframe behaves as a block element */
    margin: 0; /* Remove margin */
    position: absolute; /* Position absolutely to fill the container */
}

#graph > div.js-plotly-plot {
    height: auto;
    width: 99%;
}

.graph-section {
    position: relative;
    width: 100%; /* Ensure full width */
    height: 100%; /* Allow it to stretch vertically */
}

.graph-section iframe {
    width: 100%; /* Full width of the parent */
    height: 75vh; /* Adjust height, can change based on your needs */
    border: none; /* Optional: removes the border for a cleaner look */
    display: block; /* Ensures there's no extra space below the iframe */
}

#dash-app > b-container > section > b-row > b-col > div {
    width: 100%; /* Ensure full width */
    height: 800px; /* Allow it to stretch vertically */
}